<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="Inputfile name" type="xstring" value="/tmp/plants-session1/knime.input.csv"/>
<entry key="Inputfile separator" type="xstring" value=","/>
<entry key="IncludeColHdr" type="xboolean" value="true"/>
<entry key="IncludeRowHdr" type="xboolean" value="false"/>
<entry key="PathToExtExec" type="xstring" value="/tmp/PLANTS_static"/>
<entry key="ExtExecWorkDir" type="xstring" value="/tmp/plants-session1"/>
<entry key="ExtExecArgs" type="xstring" value="--mode screen plants.config"/>
<entry key="Output filename" type="xstring" value="/tmp/plants-session1/knime.output.csv"/>
<entry key="Outputfile separator" type="xstring" value=","/>
<entry key="ContainsColHdr" type="xboolean" value="true"/>
<entry key="ContainsRowHdr" type="xboolean" value="false"/>
</config>
<config key="variables">
<config key="Inputfile name">
<entry key="used_variable" type="xstring" value="abs_tool_input_filename"/>
<entry key="exposed_variable" type="xstring" isnull="true" value=""/>
</config>
<config key="Output filename">
<entry key="used_variable" type="xstring" value="abs_tool_output_filename"/>
<entry key="exposed_variable" type="xstring" isnull="true" value=""/>
</config>
<config key="PathToExtExec">
<entry key="used_variable" type="xstring" value="plants_executable"/>
<entry key="exposed_variable" type="xstring" isnull="true" value=""/>
</config>
<config key="ExtExecWorkDir">
<entry key="used_variable" type="xstring" value="session_dir"/>
<entry key="exposed_variable" type="xstring" isnull="true" value=""/>
</config>
<config key="ExtExecArgs">
<entry key="used_variable" type="xstring" value="tool_args"/>
<entry key="exposed_variable" type="xstring" isnull="true" value=""/>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<config key="nodecontainer_message">
<entry key="type" type="xstring" value="WARNING"/>
<entry key="message" type="xstring" value="Errors loading flow variables into node : The path to the external executable is not valid (empty)."/>
</config>
<entry key="factory" type="xstring" value="org.knime.ext.exttool.ExtToolNodeFactory"/>
<entry key="node-name" type="xstring" value="External Tool"/>
<entry key="node-bundle-name" type="xstring" value="KNIME External Tool Node"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.ext.exttool"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="3.2.0.v201605301230"/>
<entry key="node-feature-name" type="xstring" value="KNIME External Tool Support"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.ext.exttool.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-feature-version" type="xstring" value="3.2.0.v201605301230"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="External Tool"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
