# scoring function and search settings
scoring_function {{scoring_function}}
search_speed {{search_speed}}

# input
protein_file {{protein_file}}
ligand_file {{ligand_file}}

# output
output_dir {{output_dir}}

# write single mol2 files (e.g. for RMSD calculation)
write_multi_mol2 {{#write_multi_mol2}}1{{/write_multi_mol2}}{{^write_multi_mol2}}0{{/write_multi_mol2}}

# binding site definition
bindingsite_center {{bindingsite_center_x}} {{bindingsite_center_y}} {{bindingsite_center_z}}
bindingsite_radius {{bindingsite_radius}}

# cluster algorithm
cluster_structures {{cluster_structures}}
cluster_rmsd {{cluster_rmsd}}

# write 
write_ranking_links {{#write_ranking_links}}1{{/write_ranking_links}}{{^write_ranking_links}}0{{/write_ranking_links}}
write_protein_bindingsite {{#write_protein_bindingsite}}1{{/write_protein_bindingsite}}{{^write_protein_bindingsite}}0{{/write_protein_bindingsite}}
write_protein_conformations {{#write_protein_conformations}}1{{/write_protein_conformations}}{{^write_protein_conformations}}0{{/write_protein_conformations}}
write_merged_protein {{#write_merged_protein}}1{{/write_merged_protein}}{{^write_merged_protein}}0{{/write_merged_protein}}
####
