<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing PLANTS nodes"
            icon="nl/esciencecenter/e3dchem/knime/plants/default.png"
            level-id="plants"
            name="PLANTS"
            path="/community/3d-e-chem"/>
   </extension>

    <extension point="org.knime.workbench.repository.nodes">
        <node category-path="/community/3d-e-chem/plants" factory-class="nl.esciencecenter.e3dchem.knime.plants.ConfigureFactory"/>
    </extension>

    <extension
          point="org.knime.workbench.repository.metanode">
        <PersistedMetaNode
             category-path="/community/3d-e-chem/plants"
             description=""
             expert-flag="false"
             icon="nl/esciencecenter/e3dchem/knime/plants/default.png"
             id="plants_session_builder"
             name="PLANTS Session Builder"
             workflowDir="src/knime/PLANTS-session-builder">
        </PersistedMetaNode>

        <PersistedMetaNode
             category-path="/community/3d-e-chem/plants"
             description=""
             expert-flag="false"
             icon="nl/esciencecenter/e3dchem/knime/plants/default.png"
             id="plants_runner"
             name="PLANTS Runner"
             workflowDir="src/knime/PLANTS-runner">
        </PersistedMetaNode>

        <PersistedMetaNode
             category-path="/community/3d-e-chem/plants"
             description=""
             expert-flag="false"
             icon="nl/esciencecenter/e3dchem/knime/plants/default.png"
             id="plants_configuration_reader"
             name="PLANTS Configuration Reader"
             workflowDir="src/knime/PLANTS-configuration-reader">
        </PersistedMetaNode>

        <PersistedMetaNode
             category-path="/community/3d-e-chem/plants"
             description=""
             expert-flag="false"
             icon="nl/esciencecenter/e3dchem/knime/plants/default.png"
             id="plants_screening_results_reader"
             name="PLANTS Screening results reader"
             workflowDir="src/knime/PLANTS-screening-results-reader">
        </PersistedMetaNode>
    </extension>
</plugin>
